/* ============= 
        RESET 
    ============ */
*,
html {
    margin:0;
    padding:0;
}

/* ============= 
        FONT 
    ============ */

body {
    font-family: 'Merriweather', serif;
}

/*  FONTS STYLES  */

    h2 {
        color: rgb(34, 34, 66);
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    
    p {
        font-size: .9rem;
        color: rgb(94, 94, 94)
    }
    
    label{
        color: rgba(53, 62, 100, 0.904)
    }

/* ============= 
        HEADER 
    ============ */

header {
    background-color: rgb(34, 34, 66);
    padding: 20px 0 20px;
}

h1 {
    color: white;
    font-size: 1rem;
    text-align: center;
}

/* ============= 
        MAIN 
    ============ */


main,
footer {
    width: 90%;
    margin: 0 auto;

}

.introduction{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid rgb(8, 8, 68)
}


/* ====== FORM ======= */

h2 {
    margin-top: 8px;
}


  
/* ========= CONTACT INFORMATION ========= */

fieldset {
    border: none;
    border-top: 2px solid rgb(8, 8, 68);
    margin-top: 3px;
    padding-top: 15px;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#zip {
    width: 50%;
    margin-bottom: 20px;
}

.input-info,
.input-news {
    margin-top: 15px;
}

::placeholder {
    text-align: right;
}

/* INPUT-TEXT and TEXT AREA STYLE */

.input-info>input,
.input-info>select,
textarea {
    background-color: rgba(189, 189, 189, 0.329);
    padding: 15px 10px 15px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    resize: none; /* Text area only */
    /* width: 100%; */
    /* display: inline-block; */
    /* box-sizing: border-box; */
}

.input-info>input:focus {
    border: 2px solid rgb(34, 34, 66);
    
}

select {
    color: rgb(175, 174, 174);
}


/* HIDE ARROW FROM SELECT */

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome and Safari */
    -webkit-appearance: none;
  }

/* For IE10 */
select::-ms-expand {
    display: none;
  }

/* ======== NEWSLETTER ========== */

.check-container {
    display: flex;
}


/* CHECKBOX AND RADIO STYLE */

.check-container {
    margin-top: 10px;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 18px;
  width: 18px;
  margin-right: 15px;
  background: rgba(189, 189, 189, 0.329);
  border: none;
  outline: none;
  position: relative;
}

input[type="checkbox"] {
  border-radius: 3px;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  border: 2px solid rgb(34, 34, 66);
}

input[type="checkbox"]:checked:after {
  content: '✔️';
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: .6rem;
}

input[type="radio"]:checked:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background-color: rgb(34, 34, 66);
}

/* BUTTONS STYLE */

button {
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    background-color: rgb(89, 176, 211);
    padding: 20px 0px 20px;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* display: inline-block; */
}

button[type="reset"] {
    background-color: #FF5C5C;
    padding: 10px 0 10px;
}

/* ============= 
        FOOTER 
    ============ */

footer {
    text-align: center;
}

footer>p {
    margin: 20px 0 50px;
}

